#RobotoLight {
  font-family: Roboto;
  font-weight: 300;
}
#RobotoMedium {
  font-family: Roboto;
  font-weight: 600;
}
#RobotoRegular {
  font-family: Roboto;
  font-weight: normal;
}
#RobotoBold {
  font-family: Roboto;
  font-weight: bold;
}
#Display4Font {
  font-family: Roboto;
  font-weight: 300;
  font-size: 112px;
  letter-spacing: -0.22px;
}
#Display3Font {
  font-size: 56px;
  letter-spacing: -0.11px;
}
#Display2Font {
  font-size: 45px;
  letter-spacing: -0.09px;
}
#Display1Font {
  font-size: 34px;
  letter-spacing: -0.07px;
}
#HeadlineFont {
  font-size: 24px;
  letter-spacing: -0.05px;
}
#TitleFont {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.04px;
}
#SubheaderFont {
  font-size: 16px;
  letter-spacing: -0.03px;
}
#BodyMenuFont {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.03px;
}
#BodyFont {
  font-size: 14px;
  letter-spacing: -0.03px;
}
#CaptionFont {
  font-size: 12px;
  letter-spacing: -0.02px;
}
#ButtonFont {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.03px;
}
.primary-color {
  color: #5B86E5;
}
.success-color {
  color: #449D44;
}
.danger-color {
  color: #D9534F;
}
.secondarytext-color {
  color: #757575;
}
.caption-size {
  font-size: 12px;
  letter-spacing: -0.02px;
}
body {
  width: 100%;
  -ms-overflow-style: scrollbar;
  margin: 0px;
}
.pointer {
  cursor: pointer;
}
/*--- START Header ---*/
#header {
  width: 100%;
  height: 64px;
  background-color: #FFFFFF;
  z-index: 10;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}
/*--- END Header ---*/
/*--- START Sidebar ---*/
#sidebar {
  width: 220px;
  background-color: #262B33;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  min-height: calc(100vh - 64px);
  position: fixed;
  left: 0px;
  top: 64px;
}
#sidebar .sidebar-content {
  overflow-y: auto;
  height: calc(100%);
  background-color: black;
}
#sidebar .sidebar-content .sidebar-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  padding-left: 25px;
  height: 40px;
  cursor: pointer;
}
#sidebar .sidebar-content .sidebar-element:hover {
  cursor: pointer;
  background-color: #23282F;
}
/*--- END Sidebar ---*/
/*--- CONTENT ---*/
.content {
  padding-top: 64px;
  padding-left: 220px;
}
/*--- CONTENT ---*/
